# EditorConfig: https://EditorConfig.org
 
root = true
 
[*]
# Covers yml, json, css, less, sass, js, jsx, and md
indent_style = space
indent_size = 2
end_of_line = crlf
charset = utf-8
 
[*.cs]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
 
[*.{js,jsx}]
insert_final_newline = true
trim_trailing_whitespace = true
 
[*.md]
trim_trailing_whitespace = false
 
[*.sql]
indent_style = tab
 
[.yo-rc.json]
end_of_line = lf
